body {
	height: 100vh;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 0;
}

h1 {
	padding: 16px;
	text-align: center;
	margin: 0;
	color: #0b0d0d;
}

select {
	background-color: #0b0d0d;
	color: #ffffff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 17.6px;
	font-family: 'Quicksand', sans-serif;
	padding: 20.8px;
}